.login-container {
  background: #fff;
  padding: 30px;
  max-width: 450px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  text-align: center;
  max-height: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  margin-top: 0%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.sign-in-btn {
  background-color: #00a651;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.sign-in-btn:hover {
  background-color: #008f4f;
}

.signup-link {
  margin-top: 5px;
  font-size: 14px;
}

.signup-link a {
  color: #00a651;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

label {
  display: block;
  text-align: left;

  font-weight: 500; /* Optional for better visibility */
}

p{
  margin:0%;
}
/* #footer{
  padding:10px;
  margin:auto;
} */
